%html
  %head
    %meta{"content" => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}

  %body
    -if @first_name
      %h1 Welcome to sci-and-u.ca, #{@first_name}
    -else 
      %h1 Welcome to sci-and-u.ca
    %p
      You have successfully signed up for sci-and-u.ca.
    %p
      Once your registration has been approved, you will receive a confirmation email and will be able to login with the username: #{@email}. 
    %p
      To login to the site, please click on the "login" button in the upper right corner of: #{@url}
    %p
      Thanks for participating in a preliminary evaluation of the SCI & U resource; your feedback means a lot to us!
    %p
      Have a great day,
    %p
      The SCI & U team

