-if @first_name
	Welcome to sci-and-u.ca, #{@first_name}
-else 
	Welcome to sci-and-u.ca

You have successfully signed up for sci-and-u.ca.

Once your registration has been approved, you will receive a confirmation email and will be able to login with the username: #{@email}. 

To login to the site, please click on the "login" button in the upper right corner of: #{@url}

Thanks for participating in a preliminary evaluation of the SCI & U resource; your feedback means a lot to us!

Have a great day,

The SCI & U team
