.row
  .col-xs-12.resource-title-row
    .title Coaching Participants
    %p
.row
  .col-xs-3
  .col-xs-6.thankyou
    Please contact admin to get permission for access.  
    %p
    =link_to "BACK TO HOME PAGE", "/"
  .col-xs-3 

        