.coaching.container
  .big-grey-row
    %span.inline.big Thank You!
    %p
.row
  .col-xs-3
  .col-xs-6.thankyou
    Stay tuned! An SCI aministrator will contact you in the next 2 business days in order to provide support.
    %p
    %a.btn{:href => "/"} SCI & U HOME
  .col-xs-3 

        