.row
  .col-xs-12.resource-title-row
    .title Thank You!
    %p
.row
  .col-xs-3
  .col-xs-6.thankyou
    Thank you for your contribution. Your input is very valuable to us and is now slated for reveiw by a moderator.  Once it has been reviewed, we will share it with others on the site!
    %p
    =link_to "BACK TO HOME PAGE", "/"
  .col-xs-3 

        