.big-grey-row
  %span.inline.big Thank you for reaching out.

.row.spacer
.row.spacer

%div{:class=> "Bladder"}
  .row
    .col-xs-12
      We will be in touch when the second round of the SCI & U coaching service is about to begin (Winter 2019). 

  
