// Place all the styles related to the mars_ratings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container.mars {width: 100%;}

//mars rating scales
form.new_mars_rating .row{
    margin-top: 10px;
    margin-bottom: 10px;
}

form.new_mars_rating input {
    float: left;
    margin-right: 10px;
}

form.new_mars_rating label { display: inline; }

.mars .row.title {
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;    
}

.mars button {
    color: #333;
    background: #fff;
    border: 1px solid #CC6666;
    border-radius: 0px;
}

.mars .check_box input {
    width: 20px;
    height: 20px;
    color: #333;
    background: #fff;
    border: 5px solid #fff;
    float: none; clear: both; 
}

form.new_mars_rating .row.title {
    background: #fff;
    padding: 10px;
}

form.new_mars_rating .row.top, form.new_mars_rating  .big-grey-row.top {
   margin-top: 0px;
   position: relative;
   top: -10px; 
} 

form.new_mars_rating .check_box.container {
    clear: both;
    text-align: center;
    width: 100%;

}

form.new_mars_rating input[type=checkbox] {
    width: 25px;
    height: 25px;   
    display: inline;
}

input[type=checkbox].top {
    position: relative;
    top: 13px;
}
